@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*,
    *::before,
    *::after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-style: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  html {
    scroll-behavior: smooth;
  }
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style-type: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-style: inherit;
    font-weight: 400;
  }
  /*__________________________*/
  body{
    color: white;
    font-family: "Ubuntu", sans-serif;
    overflow-x: hidden;
  }
  /* Блок 1 */
  .logo_mobile{
    display: none;
  }
  .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
.first{
  list-style-type: none;
  display: flex;
  justify-content: center;
    position: relative;
    min-height: 600px;
    margin: 30px auto 0 auto;
    background-image: url("../images/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 90%;
    border-radius: 15px;
}
.menu-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
.block1_text{
    text-align: center;
    
}
.ll_tours{
  max-width: 90%;
  margin: 150px auto 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
}
.about_us{
  box-shadow: -3px 15px 100px -30px #4bc1fb;
  position: absolute;
  bottom: -20%;
  padding: 30px;
  font-family: "DM Sans", sans-serif;
  max-width: 90%;
  margin: 0 auto;
  color: black;
  border-radius: 15px;
  background-color: white;
}
.p_about{
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
}
.about_hr{
  margin-top: 15px;
  height: 4px;
  width: 100px;
  border: none;
  background: rgba(134, 199, 239, 1);
}
.we_ll{
  margin-top: 15px;
  font-weight: 700;
  font-size: 38px;
}
.about_text{
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
}
/* Программа тура */
.tour_programm{
  margin-top: 250px;
  
}
.p_programm{
  margin-bottom: 100px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #69C2F8;
}
.days{
  max-width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.day{

  max-width: 45%;
  margin-bottom: 50px;
}
/* строчка с номером дня, день, черта */
.p_hr{
  display: flex;
  align-items: center;
  gap: 15px;
}
.p_day{
  color: #86C7EF;
  font-size: 35px;
  font-weight: 700;
}
.day_hr{
  height: 4px;
  width: 150px;
  border: none;
  background: #BDE4FC;
}
.day_text{
  margin-top: 20px;
  color: black;
  font-weight: 700;
  font-size: 20px;
}
/* Слайдер */
#slider{text-align:center;}
strong{font-weight:bold}
label,a{color:brown;cursor:pointer;text-decoration:none;}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
label,#active,img{-moz-user-select:none;-webkit-user-select:none}
.catch{display:block;height:0;overflow:hidden}
#slider{margin:0 auto;}
.none{display:none}
#slide1:checked ~ #slides .inner{margin-left:0}
#slide2:checked ~ #slides .inner{margin-left:-100%}
#slide3:checked ~ #slides .inner{margin-left:-200%}
#slide4:checked ~ #slides .inner{margin-left:-300%}
#container{width:100%;overflow:hidden;  border-radius: 15px;}
article img{width:100%}
#slides .inner{width:500%;line-height:0}
#slides article{width:20%;float:left}
#commands{margin:-25% 0 0 0;width:100%;height:50px}
#commands label{display:none;width:80px;height:80px;opacity:0.5}
#commands label:hover{opacity:0.8}
#active{position:relative;z-index:5;margin:16% 0 0;text-align:center}
#active label{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;display:inline-block;width:10px;height:10px;background:#bbb}
#active label:hover{background:#333;border-color:#777!important}
#slide1:checked ~ #commands label:nth-child(2),#slide2:checked ~ #commands label:nth-child(3),#slide3:checked ~ #commands label:nth-child(4),#slide4:checked ~ #commands label:nth-child(5),#slide5:checked ~ #commands label:nth-child(1){background:url('https://0.s3.envato.com/files/84450220/img/next.png') no-repeat;float:right;margin:0 12px 0 0;display:block}
#slide1:checked ~ #commands label:nth-child(5),#slide2:checked ~ #commands label:nth-child(1),#slide3:checked ~ #commands label:nth-child(2),#slide4:checked ~ #commands label:nth-child(3),#slide5:checked ~ #commands label:nth-child(4){background:url('https://0.s3.envato.com/files/84450220/img/previous.png') no-repeat;float:left;margin:0 0 0 -6px;display:block}
#slide1:checked ~ #active label:nth-child(1),#slide2:checked ~ #active label:nth-child(2),#slide3:checked ~ #active label:nth-child(3),#slide4:checked ~ #active label:nth-child(4),#slide5:checked ~ #active label:nth-child(5){background:#000;opacity:0.6;border-color:#fff!important;border:2px solid #fff}
.caption{line-height:20px;margin:0 0 -150%;position:absolute;padding:320px 12px;opacity:0;color:#fff;text-transform:none;text-align:left;font-size:18px}
.caption bar{display:inline-block;padding:10px;background:#000;border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;opacity:0.7;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70)}
#slides{position:relative;padding:2px;border:1px solid #ddd;margin:45px 0 0;background:#FFF;background:-webkit-linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);background:-moz-linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);background:-ms-linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);background:-o-linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);background:linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;-webkit-box-shadow:0 0 3px rgba(0,0,0,0.2);-moz-box-shadow:0 0 3px rgba(0,0,0,0.2);box-shadow:0 0 3px rgba(0,0,0,0.2)}
#slides .inner{-webkit-transform:translateZ(0);-webkit-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-moz-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-ms-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-o-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-webkit-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-moz-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-ms-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-o-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000)}
#slider{-webkit-transform:translateZ(0);-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}
#commands label{-webkit-transform:translateZ(0);-webkit-transition:opacity 0.2s ease-out;-moz-transition:opacity 0.2s ease-out;-o-transition:opacity 0.2s ease-out;transition:opacity 0.2s ease-out}
#slide1:checked ~ #slides article:nth-child(1) .caption,#slide2:checked ~ #slides article:nth-child(2) .caption,#slide3:checked ~ #slides article:nth-child(3) .caption,#slide4:checked ~ #slides article:nth-child(4) .caption,#slide5:checked ~ #slides article:nth-child(5) .caption{opacity:1;-webkit-transition:all 1s ease-out 0.6s;-moz-transition:all 1s ease-out 0.6s;-o-transition:all 1s ease-out 0.6s;transition:all 1s ease-out 0.6s}
#commands,#commands label,#slides,#active,#active label{-webkit-transform:translateZ(0);-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}
#slider{max-width:960px}
@media only screen and (max-width:850px) and (min-width:450px){
  #slider #commands{margin:-25% 0 0 5%;width:90%;height:50px}
  #slider #commands label{-moz-transform:scale(0.9);-webkit-transform:scale(0.9);-o-transform:scale(0.9);-ms-transform:scale(0.9);transform:scale(0.9)}
  #slider #slides .caption{padding:280px 12px}
  #slider #slides{padding:2px 0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
  #slider #active{margin:15% 0 0}
}
@media only screen and (max-width:450px){
  #slider #commands{margin:-28% 0 0 1%;width:100%;height:70px}
  #slider #active{margin:12% 0 0}
  #slider #slides{padding:2px 0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
  #slider #slides .caption{opacity:0!important}
  #slider #commands label{-moz-transform:scale(0.7);-webkit-transform:scale(0.7);-o-transform:scale(0.7);-ms-transform:scale(0.7);transform:scale(0.7)}
}
/* стоимость */
.price{
  margin-top: 100px;
  text-align: center;
}
.p_price{
  font-size: 48px;
  font-weight: 700;
  color: black;
}
.price_number{
  max-width: 50%;
  margin: 50px auto 0 auto;
  color: #86C7EF;
  font-size: 36px;
  border-radius: 15px;
  border: #86C7EF 2px solid;
  padding: 10px;
}
/* Оставление заявки */
.record{
  margin: 100px auto 0px auto;
  border-radius: 15px;
  max-width: 80%;
  background-image: url("../images/record_bg.png");
  height: 441px;
  box-shadow: 40px 30px 0px 0px #608CA7;
  background-size: cover;
  display: flex;
}
.record_text{
  padding-left: 70px;
  max-width: 40%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;

}
.free_consult{
  text-shadow: 1px 3px 6px #000000;
  font-weight: 700;
  font-size: 36px;
}
.we_call{
  font-weight: 100;
  font-size: 20px;  
}
.record_forms{
  margin: auto auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  color: white;
}
.name{
  padding: 12px;
  font-size: 26px;
  font-weight: 400; 
  color: white;
  border: white 2px solid;
  border-radius: 15px;
  background: none;
}
.number{
  padding: 12px;
  font-size: 26px;
  font-weight: 400; 
  color: white;
  border: white 2px solid;
  border-radius: 15px;
  background: none;
}
.send_record{
  font-weight: 700;
  font-size: 26px;
  padding: 15px;
  color: black;
  background-color: #D9D9D9;
  border-radius: 15px;

}
.personal_info{
  font-weight: 100;
  font-size: 11px;
}
.personal_info span{
  color: #75C8FB;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: white;
}


/* Подвал */
.footer{
  margin-top: 150px;  
  padding: 30px;
  font-family: "DM Sans", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #86C7EF;
}
.tvu_logo{
  max-height: 100px;
  width: 100px;
}
.footer_text{
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  color: black;
}
.footer_number{
  font-size: 15px;
  font-weight: 600; 
}
.footer_2024{
  font-size: 15px;
}
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a{
  text-decoration: none;
  color: white;
}
.footer_a:active,
.footer_a:hover,
.footer_a{
  text-decoration: none;
  color: black;
}
/* Адаптив */
/* 1 блок */
@media only screen and (max-width: 860px){
  .block1_text{
    padding: 3%;
  }
  .about_us{
    bottom: -20%;
  }
  .we_ll{
    font-size: 24px;
  }
  .ll_tours{
    font-size: 28px;
  }
}
@media only screen and (max-width: 700px){
  .block1_text{
    margin-top: 150px;
  }
  .logo_mobile{
    display: block;
    float: right;
  }
  .logo_pc{
    display: none;
  }
  .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .menu-items {
    position: absolute;
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    z-index: 1;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .menu-items li {
    color: black;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .menu-items li a{
    color: black;
  }
  
  input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
}
/* 1 блок */
@media only screen and (max-width: 1050px){
  .ll_tours{
    font-size: 32px;
  }
}
@media only screen and (max-width: 705px){
  .ll_tours{
    margin-top: 100px;
    font-size: 32px;
  }
  .about_us{
    bottom: -25%;
  }
  .we_ll{
    font-size: 24px;
  }
  .about_text{
    font-size: 16px;
  }
}
@media only screen and (max-width: 700px){
  .ll_tours{
    margin-top: 75px;
  }
}
@media only screen and (max-width: 520px){
  .ll_tours{
    font-size: 26px;
  }
  .we_ll{
    font-size: 20px;
  }
  .about_text{
    font-size: 14px;
  }
  .about_us{
    bottom: -20%;
  }
}
@media only screen and (max-width: 430px){
  .ll_tours{
    margin-top: 30px;
  }
  .we_ll{
    font-size: 20px;
  }
  .about_text{
    font-size: 14px;
  }
  .about_us{
    bottom: -25%;
  }
}
/* 2 блок */ 
@media only screen and (max-width: 860px){
  .days{
    flex-direction: column;
    gap: 30px;
  }
  .day{
    max-width: 100%;
  }
}
@media only screen and (min-width: 1600px){
  .days{
      max-width: 1600px;
  }
}
/* 4 блок */ 
@media only screen and (max-width: 945px){
  .record{
    align-items: center;
    flex-direction: column;
  }
  .record_text{
    margin-top: 15px;
    padding: 0;
    text-align: center;
  }
  .free_consult{
    font-size: 20px;
  }
  .we_call{
    font-size: 16px;
  }
}
@media only screen and (max-width: 500px){
  .record{
    box-shadow: 10px 15px 0px 0px #608CA7;
  }
  .record_forms{
    max-width: 90%;
  }
  .free_consult{
    font-size: 18px;
  }
  .we_call{
    font-size: 14px;
  }
  .name, .number{
    font-size: 16px;
  }
  .personal_info{
    text-align: center;
  }
  .send_record{
    font-size: 16px;
  }
}
/* цена */
@media only screen and (max-width: 520px){
  .p_price{
    font-size: 32px;
  }
}
@media only screen and (max-width: 360px){
  .p_price{
    font-size: 30px;
  }
  .price_number{
    font-size: 28px;
    max-width: 80%;
  }
}