<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>ll tours</title>
    <link rel="stylesheet" href="css/academ_styles.css">

</head>
<body>
    <div class="first">
        <div class="block1">
            <nav>
                <div class="navbar">
                    <div class="mob_container nav-container">
                        <input class="checkbox" type="checkbox" name="" id="" />
                        <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                        </div>  
                    <div class="logo">
                        <img src="images/ll_logo.svg" alt="" class="logo_mobile">
                    </div>
                    <div class="menu-items">
                        <li><a href="#main">Главная</a></li>
                        <li><a href="#about">О туре</a></li>
                        <li class="logo_pc"><img src="images/ll_logo.svg" alt=""></li>
                        <li><a href="#tours">Программа</a></li>
                        <li><a href="#price">Цена</a></li>
                        <li><a href="tel:+79878500070">+7(987)-850-00-70</a></li>
                    </div>
                    </div>
                </div>
            </nav>
            <div class="block1_text" id="main">
                <p class="ll_tours">Академическая программа для российских врачей в области китайской медицины 31.07-07.08</p>
            </div>
        </div>
        <div class="about_us" id="about">
            <p class="we_ll">Добро пожаловать в академическую поездку для медиков России в Китай!</p>
            <p class="about_text">Мы рады предложить уникальную возможность для медицинских специалистов из России отправиться в увлекательное путешествие в Китай. Наш тур предоставит участникам возможность познакомиться с передовыми достижениями китайской медицины, обменяться опытом с коллегами из другой страны и расширить свои профессиональные знания.</p>
        </div>
    </div>
    <div class="tour_programm" id="tours">
        <p class="p_programm">Программа тура</p>
        <div class="days">
            <div class="day">
                <div class="p_hr">
                    <img src="images/day1.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Приветственная встреча совместно с Управлением иностранных дел провинции Ляонин, руководителями департамента здравоохранения. Во второй половине дня посещение крупнейшей медицинской школы провинции Ляонин - Ляонинский университет китайской медицины. Вечером прибытие в отель Медицинского университета Даляня</p>
            </div>
            <div class="slider"></div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day2.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Знакомство с  историей китайской медицины, методиками преподавания профессорами китайской медицины..Также Вы сможете ознакомиться с клиническими испытаниями в области китайской медицины.</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day3.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Посещение Первой больницы Даляньского медицинского университета., обмен опытом на месте включая медицинскую помощь, общение с медицинским персоналом, осмотр медицинского оборудования, палаты для пациентов и т.д., бесплатные мероприятия и фуршет во второй половине дня</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day4.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Изучение терапии китайской медицины Шэнгу, видов китайской медицины: иглоукалывание, массаж, баночное лечение, тейпирование, лечебная диета и т.д.</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day5.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Центр "Далянь Эдем" - комплекс мероприятий по оздоровлению (включая знаменитую лекцию по китайской медицине "Как стать здоровым", купание в горячих источниках, медицинский осмотр, здоровое питание, плавание).</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day6.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Приветственная встреча совместно с Управлением иностранных дел провинции Ляонин, руководителями департамента здравоохранения. Во второй половине дня посещение крупнейшей медицинской школы провинции Ляонин - Ляонинский университет китайской медицины. Вечером прибытие в отель Медицинского университета Даляня</p>
            </div>
        </div>
    </div>
    <article id="slider">
        <input checked type='radio' name='slider' id='slide1' class="none"/>
        <input type='radio' name='slider' id='slide2' class="none"/>
        <input type='radio' name='slider' id='slide3' class="none"/>
        <input type='radio' name='slider' id='slide4' class="none"/>
        <input type='radio' name='slider' id='slide5' class="none"/>
        <div id="slides">
          <div id="container">
            <div class="inner">
              <article>
              <img src="images/slide1.png"/>
              </article>
              <article>
              <div class='caption'>
              </div>
              <img src="images/slide2.png"/>
              </article>
              <article>
              <div class='caption'>
              </div>
              <img src="images/slide3.png"/>
              </article>
              <article>
              <div class='caption'>
              </div>
              <img src="images/slide4.png"/>
              </article>
            </div>
          </div>
        </div>
        <div id="commands">
          <label for='slide1'></label>
          <label for='slide2'></label>
          <label for='slide3'></label>
          <label for='slide4'></label>
        </div>
        <div id="active">
          <label for='slide1'></label>
          <label for='slide2'></label>
          <label for='slide3'></label>
          <label for='slide4'></label>
        </div>
        </article>
    <div class="price" id="price">
        <p class="p_price">Стоимость всего тура</p>
        <p class="price_number">145 000 рублей</p>
    </div>
    <div class="record">
        <div class="record_text">
            <p class="free_consult">Оставьте заявку на бесплатную консультацию!</p>
            <p class="we_call">Мы перезвоним Вам в ближайшее время</p>
        </div>
        <div class="record_forms">
            <form th:method="POST" th:action="@{/}" th:object="${person}" class="record_forms">
            <input type="text" class="name" placeholder="ФИО" name="name">
            <input type="tel" class="number" placeholder="Номер телефона" name="number">
            <button class="send_record">Отправить заявку</button>
            </form>
            <p class="personal_info">Нажимая кнопку, Вы даете согласие на <span>обработку персональных данных</span></p>
        </div>
    </div>
    <div class="footer">
        <img src="images/tvu_logo.png" alt="" class="tvu_logo">
        <p class="footer_text"><span>Ответственный подход </span><span>к работе людей и компаний</span></p>
        <p class="footer_number"><a href="tel:+79878500070" class="footer_a">+7(987)-850-00-70</a></p>
        <p class="footer_2024">©2024 ТВУ</p>
    </div>
</body>
</html>