<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>ll tours | Туроператор</title>
    <link rel="stylesheet" href="css/beijing.css">
    <link rel="icon" href="images/ll_logo.svg">
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(98001133, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/98001133" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->
    <script src="//code.jivo.ru/widget/E6GgqhC1II" async></script>
 <meta name="yandex-verification" content="7b17768d8151848c" />
</head>
<body>
    <div class="first">
        <div class="block1">
            <nav>
                <div class="navbar">
                    <div class="mob_container nav-container">
                        <input class="checkbox" type="checkbox" name="" id="" />
                        <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                        </div>  
                    <div class="logo">
                        <img src="images/ll_logo.svg" alt="" class="logo_mobile">
                    </div>
                    <div class="menu-items">
                        <li><a href="/">Главная</a></li>
                        <li><a th:href="@{/contacts}" target="_blank">Контакты</a></li>
                        <li><a th:href="@{/feedback}" target="_blank">Отзывы</a></li>
                        <li><a href="#tours">Программа</a></li>
                        <li class="logo_pc"><img src="images/ll_logo.svg" alt=""></li>
                        <li><a href="#price">Цена</a></li>
                        <li><a href="tel:+79878500070">+7(987)-850-00-70</a></li>
                        <li><a  href="https://wa.me/79878954849?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D0%BF%D0%BE%D0%B5%D0%B7%D0%B4%D0%BA%D0%B0%20%D0%B2%20%D0%9F%D0%B5%D0%BA%D0%B8%D0%BD" target="_blank"><img src="images/whatsapp.png" alt="" class="whatsapp" style="max-width: 32px; height: auto;"></a></li>
                        <li><a href="https://t.me/+79878954849" target="_blank"><img src="images/telegram.png" alt="" class="telegram" style="max-width: 32px; height: auto;"></a></li>
                    </div>                    
                    </div>
                </div>
            </nav>
            <div class="block1_text" id="main">
                <p class="ll_tours">Неделя осенних каникул для школьников и студентов в Пекине! </p>
            </div>
        </div>
        <div class="about_us" id="about">
            <p class="we_ll">Добро пожаловать в увлекательное путешествие в Китай с нашим туроператором!</p>
            <p class="about_text">Добро пожаловать в Пекин, сердце великого Китая! Этот мегаполис с многовековой историей пленяет сердца путешественников своим уникальным сочетанием древних традиций и современных технологий. Пекин – это не просто город, это целый мир, где каждое здание, каждый уголок повествует о богатом прошлом и стремительном будущем.</p>
        </div>
    </div>
    <video controls width="350" class="love1">
        <source src="images/1love.MP4" type="video/mp4">
        Ваш браузер не поддерживает встроенные видео :(
    </video>
    <img src="images/beijing/teacher.jpg" class="teacher" alt="">
    <p class="teacher_p">Руководитель группы в Пекин - <span>Платова Евгения</span></p>
    <p class="children">Дети от 12 лет могут поехать самостоятельно с учителем по нотариальному согласию</p>
    <article id="slider2">
        <input checked type='radio' name='slider2' id='slide01' class="none2"/>
        <input type='radio' name='slider2' id='slide02' class="none2"/>
        <input type='radio' name='slider2' id='slide03' class="none2"/>
        <input type='radio' name='slider2' id='slide04' class="none2"/>
        <input type='radio' name='slider2' id='slide05' class="none2"/>
        <div id="slides2">
          <div id="container2">
            <div class="inner2">
                <article class="artmp2">
                <img src="images/k1.jpg"/>
                </article>
                <article class="artmp2">               
                <img src="images/k2.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k3.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k4.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k5.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k6.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k7.jpg"/>
                </article>
                <article class="artmp2">               
                <img src="images/k8.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k9.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k10.jpg"/>
                </article>
            </div>
          </div>
        </div>
        <div id="commands2">
          <label class="lb2" for='slide01'></label>
          <label class="lb2" for='slide02'></label>
          <label class="lb2" for='slide03'></label>
          <label class="lb2" for='slide04'></label>
          <label class="lb2" for='slide05'></label>
        </div>
        <div id="active2">
            <label class="lb2" for='slide01'></label>
            <label class="lb2" for='slide02'></label>
            <label class="lb2" for='slide03'></label>
            <label class="lb2" for='slide04'></label>
            <label class="lb2" for='slide05'></label>
        </div>
        </article>
    <article id="slider1">
        <input checked type='radio' name='slider1' id='slide11' class="none1"/>
        <input type='radio' name='slider1' id='slide21' class="none1"/>
        <input type='radio' name='slider1' id='slide31' class="none1"/>
        <input type='radio' name='slider1' id='slide41' class="none1"/>
        <input type='radio' name='slider1' id='slide51' class="none1"/>
        <div id="slides1">
          <div id="container1">
            <div class="inner1">
              <article class="artmp1">
              <img src="images/beijing/slide1.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
              <article class="artmp1">
              <img src="images/beijing/slide2.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
              <article class="artmp1">
              <img src="images/beijing/slide3.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
              <article class="artmp1">
                <img src="images/beijing/slide4.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
              <article class="artmp1">
                <img src="images/beijing/slide5.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
            </div>
          </div>
        </div>
        <div id="commands1">
          <label class="lb1" for='slide11'></label>
          <label class="lb1" for='slide21'></label>
          <label class="lb1" for='slide31'></label>
          <label class="lb1" for='slide41'></label>
          <label class="lb1" for='slide51'></label>
        </div>
        <div id="active1">
          <label class="lb1" for='slide11'></label>
          <label class="lb1" for='slide21'></label>
          <label class="lb1" for='slide31'></label>
          <label class="lb1" for='slide41'></label>
          <label class="lb1" for='slide51'></label>
        </div>
</article>
    <div class="tour_programm" id="tours">
        <p class="p_programm">Программа тура</p>
        <div class="days">
            <div class="day">
                <div class="p_hr">
                    <img src="images/day1.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Встреча в аэропорту. Трансфер аэропорт-отель. Свободное время</p>
            </div>
            <div class="slider"></div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day2.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Посещение дворцового комплекса «Запретный город», посещение площади Тяньаньмэнь, памятник народным героям и понаблюдать за захватывающей церемонией спуска флага на закате! Возвращение в отель</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day3.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Посещение Великой китайской стены Бадалин, поднимитесь на величественную Великую стену. Затем отправитесь в Гробницы династии Миня</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day4.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Посещение экскурсии «Летний дворец». Во второй половине дня посетите Юаньминъюань, расположенный в северо-западном пригороде Пекина, рядом с Летним дворцом. Он состоит из садов Юаньминъюань, Чанчунь и Цичунь, также известных как Три сада Юаньмин</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day5.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Экскурсия в Парк Храма Неба, который находится на юге Пекина. В настоящее время - это объект всемирного культурного наследия, самое знаменитое туристическое место. Затем отправляетесь на пешеходную улицу Цяньмэнь, в стиле старого Пекина. Почувствуйте традиционную кухню и культуру развития бизнеса старого Пекина. На улице царит веселая суматоха гуляющих людей. Здесь есть все, что можно съесть и выпить</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day6.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Посещение 798 Арт-дистрикт. Это креативный парк, перестроенный из здания старой фабрики. Здесь расположено множество галерей, выставочных залов и независимых художников. Здания также являются ультрасовременными и модными, с креативным дизайном, с множеством магазинов. Во второй половине дня посетите Олимпийский парк - культовое здание, посвященное Олимпийским играм 2008 года</p>
            </div>
            <div class="day day7">
                <div class="p_hr">
                    <img src="images/day7.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Завтрак. Освобождение номеров. Трансфер в аэропорт.</p>
            </div>
        </div>
    </div>
    <div class="ming">
        <img src="images/beijing/ming.jpg" alt="">
        <img src="images/beijing/ming2.jpg" alt="">
    </div>
    <p class="p_ming">Ming Yang - руководитель принимающей стороны в Китае</p>
    <video controls width="400" class="bus">
        <source src="images/beijing/bus_video.mp4" type="video/mp4" />
      </video>
    <p class="p_bus">Есть собственный автобусный парк</p>
    <p class="food">Питание</p>
    <article id="slider3">
        <input checked type='radio' name='slider3' id='slide13' class="none3"/>
        <input type='radio' name='slider3' id='slide23' class="none3"/>
        <input type='radio' name='slider3' id='slide33' class="none3"/>
        <div id="slides3">
          <div id="container3">
            <div class="inner3">
              <article class="artmp3">
              <img src="images/fk1.jpg"/>
              </article>
              <article class="artmp3">
              <img src="images/fk2.jpg"/>
              </article>
              <article class="artmp3">
              <img src="images/fk3.jpg"/>
              </article>
            </div>
          </div>
        </div>
        <div id="commands3">
          <label class="lb3" for='slide13'></label>
          <label class="lb3" for='slide23'></label>
          <label class="lb3" for='slide33'></label>
        </div>
        <div id="active3">
          <label class="lb3" for='slide13'></label>
          <label class="lb3" for='slide23'></label>
          <label class="lb3" for='slide33'></label>
        </div>
</article>
    <p class="food">Проживание</p>
    <div class="home_photos">
        <img src="images/beijing/home1.png" alt="">
        <img src="images/beijing/home2.png" alt="">
    </div>
        <article id="slider4">
            <input checked type='radio' name='slider4' id='slide14' class="none4"/>
            <input type='radio' name='slider4' id='slide24' class="none4"/>
            <input type='radio' name='slider4' id='slide34' class="none4"/>
            <input type='radio' name='slider4' id='slide44' class="none4"/>
            <input type='radio' name='slider4' id='slide54' class="none4"/>
            <div id="slides4">
              <div id="container4">
                <div class="inner4">
                  <article class="artmp4">
                  <img src="images/beijing/1.jpg"/>
                  </article>
                  <article class="artmp4">
                  <div class='caption1'>
                  </div>
                  <img src="images/beijing/2.jpg"/>
                  </article>
                  <article class="artmp4">
                  <div class='caption1'>
                  </div>
                  <img src="images/beijing/3.jpg"/>
                  </article>
                  <article class="artmp4">
                  <div class='caption1'>
                  </div>
                  <img src="images/beijing/4.jpg"/>
                  </article>
                  <article class="artmp4">
                    <div class='caption1'>
                    </div>
                    <img src="images/beijing/5.jpg"/>
                    </article>
                </div>
              </div>
            </div>
            <div id="commands4">
              <label class="lb4" for='slide14'></label>
              <label class="lb4" for='slide24'></label>
              <label class="lb4" for='slide34'></label>
              <label class="lb4" for='slide44'></label>
              <label class="lb4" for='slide54'></label>
            </div>
            <div id="active4">
              <label class="lb4" for='slide14'></label>
              <label class="lb4" for='slide24'></label>
              <label class="lb4" for='slide34'></label>
              <label class="lb4" for='slide44'></label>
              <label class="lb4" for='slide54'></label>
            </div>
    </article>
    <div class="pointers">
        <p class="p_include">В стоимость тура входят:</p>
        <ul class="ul_include">
            <li><span>трансфер</span></li>
            <li><span>перелёт</span> (Москва-Пекин-Москва)</li>
            <li><span>питание</span> (полный пансион)</li>
            <li><span>страховка</span> (40 000$)</li>
            <li><span>проживание</span> (4-х звездочный отель туристического класса)</li>
            <li><span>сопровождение преподавателя</span></li>
            <li><span>экскурсионная программа</span></li>
            <li><span>мероприятия</span></li>
        </ul>
    </div>
    <!--<div class="div_price" id="price">
        <div class="first_price">
            <p class="p_price">Стоимость (28.10.2024):</p>
            <p class="sum">147 000 р.</p>
        </div>
        <div class="second_price">
            <p class="p_price">Стоимость (07.10.2024):</p>
            <p class="sum">149 800 р.</p>
        </div>
    </div>-->
    <p class="price">Стоимость тура уточняйте по телефону или оставьте заявку ниже</p>
    <div class="record">
        <div class="record_text">
            <p class="free_consult">Оставьте заявку на бесплатную консультацию!</p>
            <p class="we_call">Мы перезвоним Вам в ближайшее время</p>
        </div>
        <div class="record_forms">
            <form th:method="POST" th:action="@{/}" th:object="${person}" id="myForm">
            <input type="text" class="name" placeholder="ФИО" name="name" required>
            <input type="tel" class="number" placeholder="Номер телефона" name="number" required>
            <input type="hidden" class="tour" value="beijing" name="tour">
            <button class="send_record">Отправить заявку</button>
            </form>
            <p class="personal_info">Нажимая кнопку, Вы даете согласие на <span>обработку персональных данных</span></p>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Форма успешно отправлена!</p>
          <p>Свяжемся с вами в ближайшее время</p>
        </div>
      </div>
    <div class="footer">
        <div class="footer_imgs">
            <img src="images/tvu_logo.png" alt="" class="tvu_logo">
            <img src="images/ll_logo.svg" alt="" class="ll_logo_footer">
        </div>
        <p class="footer_text"><span>Ответственный подход </span><span>к работе людей и компаний</span></p>
        <p class="footer_number"><a href="tel:+79878500070" class="footer_a">+7(987)-850-00-70</a></p>
        <div class="footer_contacts">
            <a href="https://wa.me/79878954849?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D0%BF%D0%BE%D0%B5%D0%B7%D0%B4%D0%BA%D0%B0%20%D0%B2%20%D0%9F%D0%B5%D0%BA%D0%B8%D0%BD" target="_blank"><img src="images/whatsapp.png" alt="" class="whatsapp" style="max-width: 32px; height: auto;"></a>
            <a href="https://t.me/+79878954849" target="_blank"><img src="images/telegram.png" alt="" class="telegram" style="max-width: 32px; height: auto;"></a>
        </div>
        <p class="footer_2024">©2024 ТВУ</p>
    </div>
    <script>
        const form = document.getElementById('myForm');
        const modal = document.getElementById('myModal');
        const closeBtn = document.getElementsByClassName('close')[0];

        form.addEventListener('submit', function(event) {
        modal.style.display = 'block';
        setTimeout("alert('3-секундная задержка прошла');", 3000);
        });

        closeBtn.addEventListener('click', function() {
        modal.style.display = 'none';
        });
    </script>
    <div class="messengers">
        <li><a href="tel:+79878500070"><img src="images/phone.png" alt="" class="telegram telegram2" style="height: auto;"></a></li>
        <li><a  href="https://wa.me/79878954849?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D0%BF%D0%BE%D0%B5%D0%B7%D0%B4%D0%BA%D0%B0%20%D0%B2%20%D0%9F%D0%B5%D0%BA%D0%B8%D0%BD" target="_blank"><img src="images/whatsapp.png" alt="" class="whatsapp whatsapp2" style="height: auto;"></a></li>
        <li><a href="https://t.me/+79878954849" target="_blank"><img src="images/telegram.png" alt="" class="telegram telegram2" style="height: auto;"></a></li>
    </div>
</body>
</html>