<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>ll tours | Туроператор</title>
    <link rel="stylesheet" href="css/contacts.css">
    <link rel="icon" href="images/ll_logo.svg">
    <script src="//code.jivo.ru/widget/E6GgqhC1II" async></script>
</head>
<body>
    <p class="place">Контакты:</p>
    <div class="div_office">
        <img src="images/contacts/place.jpg" alt="">
        <img src="images/contacts/office.jpg" alt="">
    </div>
    <p class="addres">г. Оренбург, Советская 23/1, Гостинный двор</p>
    <div class="contacts">
        <p class="number"><a href="tel:+79878500070">+7(987)-850-00-70</a></p>
        <p class="email"><a href="mailto:tvu_v@mail.ru">tvu_v@mail.ru</a></p>
    </div>
    <div class="messengers">
        <a href="https://wa.me/79878954849?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%F0%9F%91%8B%20%D0%9C%D0%BD%D0%B5%20%D0%BD%D0%B5%D0%BE%D0%B1%D1%85%D0%BE%D0%B4%D0%B8%D0%BC%D0%B0%20%D0%BA%D0%BE%D0%BD%D1%81%D1%83%D0%BB%D1%8C%D1%82%D0%B0%D1%86%D0%B8%D1%8F" target="_blank"><img src="images/whatsapp.png" alt="" class="whatsapp" style="max-width: 32px; height: auto;"></a>
        <a href="https://t.me/+79878954849" target="_blank"><img src="images/telegram.png" alt="" class="telegram" style="max-width: 32px; height: auto;"></a>
    </div>
    <div class="map"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A237a97fc947a17492875381d5626cccb6e45d9db99dfea95ec5a90dac68132dc&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script></div>
</body>
</html>