<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>ll tours | Туроператор</title>
    <link rel="stylesheet" href="css/dalyan.css">
    <link rel="icon" href="images/ll_logo.svg">
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(97639207, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/97639207" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->
    <script src="//code.jivo.ru/widget/E6GgqhC1II" async></script>
</head>
<body>
    <div class="first">
        <div class="block1">
            <nav>
                <div class="navbar">
                    <div class="mob_container nav-container">
                        <input class="checkbox" type="checkbox" name="" id="" />
                        <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                        </div>  
                    <div class="logo">
                        <img src="images/ll_logo.svg" alt="" class="logo_mobile">
                    </div>
                    <div class="menu-items">
                        <li><a href="/">Главная</a></li>
                        <li><a th:href="@{/contacts}" target="_blank">Контакты</a></li>
                        <li><a th:href="@{/feedback}" target="_blank">Отзывы</a></li>
                        <li><a href="#tours">Программа</a></li>
                        <li class="logo_pc"><img src="images/ll_logo.svg" alt=""></li>
                        <li><a href="#price">Цена</a></li>
                        <li><a href="tel:+79878500070">+7(987)-850-00-70</a></li>
                        <li><a  href="https://wa.me/79878954849?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%F0%9F%91%8B%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%20%D0%BB%D0%B5%D1%82%D0%BD%D0%B8%D0%B9%20%D0%BB%D0%B0%D0%B3%D0%B5%D1%80%D1%8C%20%D0%B2%20%D0%9A%D0%B8%D1%82%D0%B0%D0%B5%20%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%20%D0%94%D0%B0%D0%BB%D1%8F%D0%BD%D1%8C" target="_blank"><img src="images/whatsapp.png" alt="" class="whatsapp" style="max-width: 32px; height: auto;"></a></li>
                        <li><a href="https://t.me/+79878954849" target="_blank"><img src="images/telegram.png" alt="" class="telegram" style="max-width: 32px; height: auto;"></a></li>
                    </div>
                    </div>
                </div>
            </nav>
            <div class="block1_text" id="main">
                <p class="ll_tours">Летний лагерь в Китае, город Далянь</p>
            </div>
        </div>
        <div class="about_us" id="about">
            <p class="we_ll">Добро пожаловать в увлекательное путешествие в Китай с нашим туроператором!</p>
            <p class="about_text">Мы рады предложить уникальную возможность отправиться в увлекательное путешествие в Китай город Далянь. Погрузитесь в уникальную атмосферу древнего и современного Китая с нами! Сделайте ваше путешествие запоминающимся и познавательным!</p>
        </div>
    </div>
    <article id="slider2">
        <input checked type='radio' name='slider2' id='slide01' class="none2"/>
        <input type='radio' name='slider2' id='slide02' class="none2"/>
        <input type='radio' name='slider2' id='slide03' class="none2"/>
        <input type='radio' name='slider2' id='slide04' class="none2"/>
        <input type='radio' name='slider2' id='slide05' class="none2"/>
        <div id="slides2">
          <div id="container2">
            <div class="inner2">
                <article class="artmp2">
                <img src="images/k1.jpg"/>
                </article>
                <article class="artmp2">               
                <img src="images/k2.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k3.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k4.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k5.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k6.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k7.jpg"/>
                </article>
                <article class="artmp2">               
                <img src="images/k8.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k9.jpg"/>
                </article>
                <article class="artmp2">
                <img src="images/k10.jpg"/>
                </article>
            </div>
          </div>
        </div>
        <div id="commands2">
          <label class="lb2" for='slide01'></label>
          <label class="lb2" for='slide02'></label>
          <label class="lb2" for='slide03'></label>
          <label class="lb2" for='slide04'></label>
          <label class="lb2" for='slide05'></label>
        </div>
        <div id="active2">
            <label class="lb2" for='slide01'></label>
            <label class="lb2" for='slide02'></label>
            <label class="lb2" for='slide03'></label>
            <label class="lb2" for='slide04'></label>
            <label class="lb2" for='slide05'></label>
        </div>
        </article>
    <div class="pointers">
        <p class="p_pointers"><span>1.</span> Проживание на территории кампуса Даляньского университета иностранных языков</p>
        <p class="p_pointers"><span>2.</span> Множество совместных мероприятий и мастер-классов с китайскими школьниками в рамках культурного обмена</p>
        <p class="p_pointers"><span>3.</span> Дети находятся под присмотром сопровождающих преподавателей Language Link и китайских сопровождающих-переводчиков</p>
        <p class="p_pointers"><span>4.</span> Спортивные игры и развлечения,на территории кампуса в свободное время</p>
        <p class="p_pointers"><span>5.</span> Насыщенная экскурсионная программа: дети увидят панду, посетят самый большой океанариум в Азии, попробуют вместе с китайскими школьниками учиться написанию иероглифов, чайную церемонию, театр теней, побывают на кинематографической площадке и увидят незабываемое всемирно известное шоу "Венеция".</p>
    </div>
    <div class="tour_programm" id="tours">
        <p class="p_programm">Программа тура</p>
        <div class="days">
            <div class="day">
                <div class="p_hr">
                    <img src="images/day1.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">из г.Шэньян, отправление в г.Далянь, "Церемония приветствия - начало исследовательской поездки в Китай"</p>
            </div>
            <div class="slider"></div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day2.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">"Учеба в Китае" - посещение университетского городка, выставки Lushun Impression, выставка дайвинга, Исторический музей</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day3.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Город кино и телевидения - Вэнь Канто, Байюшань, Парк военного порта, Музей гробниц Древней династии Хань</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day4.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Музей портретов мировых знаменитостей Цзиньшитань, Хуася, Фэнтези, Музей коллекции Мао Цзэдуна, Музей тайн жизни</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day5.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">"Маленький ведущий" – посещение Даляньской телестанции (интерактивные мероприятия - китайские боевые искусства, чайное искусство, искусство керамики и т.д.)</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day6.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Shengya Sea World (павильон океанариума Spare Tiger Beach), прогулка по улице Биньхай-роуд, посещение Северного моста, площади Синхай, Далянь - обзор вида на море</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day7.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Лесной зоопарк, Глаз Даляня (Колесо обозрения), Дунган, Венецианский аквапарк, пляж Фуцзячжуан</p>
            </div>
            <div class="slider"></div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day8.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Дунгоу Вуфан, (дополнительный "Открытый урок китайско-российской дружбы" и другие мероприятия по обмену и обучению)</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day9.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Музей раковин, Музей природы</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day10.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Даляньский музыкальный музей, живописный район острова Банчжи</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day11.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Тематический парк – «Королевство открытий» (Science and Technology Dynamic Playground, Наука и технологии Китая, Наука и технологии Даляня)</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day12.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Городской музей, Даляньский музей современного искусства (альтернативная русская пейзажная улица, Даляньский трамвайный пейзаж и т.д.)</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day13.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Художественное взаимодействие во Дворце молодежи (иероглифы кисти, музыкальные инструменты, песни и танцы и т.д.), (запасной "День в китайской школе")</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day14.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">"Церемония прощания", трансфер в аэропорт г.Шэньян, вручение сувениров</p>
            </div>
        </div>
    </div>
    <article id="slider">
        <input checked type='radio' name='slider' id='slide1' class="none"/>
        <input type='radio' name='slider' id='slide2' class="none"/>
        <input type='radio' name='slider' id='slide3' class="none"/>
        <input type='radio' name='slider' id='slide4' class="none"/>
        <input type='radio' name='slider' id='slide5' class="none"/>
        <div id="slides">
          <div id="container">
            <div class="inner">
              <article>
              <img src="images/slide5.png"/>
              </article>
              <article>
              <div class='caption'>
              </div>
              <img src="images/slide6.png"/>
              </article>
              <article>
              <div class='caption'>
              </div>
              <img src="images/slide7.png"/>
              </article>
              <article>
              <div class='caption'>
              </div>
              <img src="images/slide8.png"/>
              </article>
            </div>
          </div>
        </div>
        <div id="commands">
          <label for='slide1'></label>
          <label for='slide2'></label>
          <label for='slide3'></label>
          <label for='slide4'></label>
        </div>
        <div id="active">
          <label for='slide1'></label>
          <label for='slide2'></label>
          <label for='slide3'></label>
          <label for='slide4'></label>
        </div>
        </article>
        <p class="mp">Мероприятия</p>
        <article id="slider1">
            <input checked type='radio' name='slider1' id='slide11' class="none1"/>
            <input type='radio' name='slider1' id='slide21' class="none1"/>
            <input type='radio' name='slider1' id='slide31' class="none1"/>
            <input type='radio' name='slider1' id='slide41' class="none1"/>
            <input type='radio' name='slider1' id='slide51' class="none1"/>
            <div id="slides1">
              <div id="container1">
                <div class="inner1">
                  <article class="artmp">
                  <img src="images/tg1.jpg"/>
                  </article>
                  <article class="artmp">
                  <div class='caption1'>
                  </div>
                  <img src="images/tg2.jpg"/>
                  </article>
                  <article class="artmp">
                  <div class='caption1'>
                  </div>
                  <img src="images/tg3.jpg"/>
                  </article>
                  <article class="artmp">
                  <div class='caption1'>
                  </div>
                  <img src="images/tg4.jpg"/>
                  </article>
                  <article class="artmp">
                    <div class='caption1'>
                    </div>
                    <img src="images/slide7.jpg"/>
                    </article>
                </div>
              </div>
            </div>
            <div id="commands1">
              <label class="lb1" for='slide11'></label>
              <label class="lb1" for='slide21'></label>
              <label class="lb1" for='slide31'></label>
              <label class="lb1" for='slide41'></label>
              <label class="lb1" for='slide51'></label>
            </div>
            <div id="active1">
              <label class="lb1" for='slide11'></label>
              <label class="lb1" for='slide21'></label>
              <label class="lb1" for='slide31'></label>
              <label class="lb1" for='slide41'></label>
              <label class="lb1" for='slide51'></label>
            </div>
    </article>
    <p class="food">Питание</p>
    <div class="videos">
        <video controls width="250">
            <source src="images/food1.MOV" type="video/mp4">
            Ваш браузер не поддерживает встроенные видео :(
          </video>
          <video controls width="250">
            <source src="images/food3.MOV" type="video/mp4">
            Ваш браузер не поддерживает встроенные видео :(
          </video>
          <video controls width="250">
            <source src="images/food4.mp4" type="video/mp4">
            Ваш браузер не поддерживает встроенные видео :(
          </video>
    </div>
    <article id="slider3">
        <input checked type='radio' name='slider3' id='slide13' class="none3"/>
        <input type='radio' name='slider3' id='slide23' class="none3"/>
        <input type='radio' name='slider3' id='slide33' class="none3"/>
        <div id="slides3">
          <div id="container3">
            <div class="inner3">
              <article class="artmp3">
              <img src="images/fk1.jpg"/>
              </article>
              <article class="artmp3">
              <img src="images/fk2.jpg"/>
              </article>
              <article class="artmp3">
              <img src="images/fk3.jpg"/>
              </article>
            </div>
          </div>
        </div>
        <div id="commands3">
          <label class="lb3" for='slide13'></label>
          <label class="lb3" for='slide23'></label>
          <label class="lb3" for='slide33'></label>
        </div>
        <div id="active3">
          <label class="lb3" for='slide13'></label>
          <label class="lb3" for='slide23'></label>
          <label class="lb3" for='slide33'></label>
        </div>
</article>
    <p class="food">Проживание</p>
    <div class="videos">
        <video controls width="250">
            <source src="images/home1.mp4" type="video/mp4">
            Ваш браузер не поддерживает встроенные видео :(
          </video>
          <video controls width="250">
            <source src="images/home2.mp4" type="video/mp4">
            Ваш браузер не поддерживает встроенные видео :(
          </video>   
          <video controls width="250">
            <source src="images/home3.mp4" type="video/mp4">
            Ваш браузер не поддерживает встроенные видео :(
          </video>       
    </div>
    <p class="report">Коротко о туре:</p>
    <video controls width="250" class="love1">
        <source src="images/1love.MP4" type="video/mp4">
        Ваш браузер не поддерживает встроенные видео :(
    </video>
    <p class="feedback">Отзывы клиентов</p>
    <img src="images/dalyan_feedback.png" alt="" class="img_feedback">
    <p class="p_price">Стоимость тура уточняйте по телефону или оставьте заявку ниже</p>
    <div class="pointers2">
        <p class="p_pointers2">В стоимость тура входят: <span>перелёт</span> (Москва-Шеньян), <span>проживание</span> (2-х местные номера), <span>питание</span> (полный пансион), <span>сопровождение преподавателя</span>,
            <span>экскурсионная программа</span>, <span>мероприятия</span>, <span>мастер-классы</span> и <span>сувениры</span>.
        </p>
    </div>
    <div class="record">
        <div class="record_text">
            <p class="free_consult">Оставьте заявку на бесплатную консультацию!</p>
            <p class="we_call">Мы перезвоним Вам в ближайшее время</p>
        </div>
        <div class="record_forms">
            <form th:method="POST" th:action="@{/}" th:object="${person}" id="myForm"> 
            <input type="text" class="name" placeholder="ФИО" name="name" required>
            <input type="tel" class="number" placeholder="Номер телефона" name="number" required>
                <input type="hidden" class="tour" value="dalyan" name="tour">
            <button class="send_record">Отправить заявку</button>
            </form>
            <p class="personal_info">Нажимая кнопку, Вы даете согласие на <span>обработку персональных данных</span></p>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Форма успешно отправлена!</p>
            <p>Свяжемся с вами в ближайшее время</p>
        </div>
    </div>
    <div class="footer">
        <div class="footer_imgs">
            <img src="images/tvu_logo.png" alt="" class="tvu_logo">
            <img src="images/ll_logo.svg" alt="" class="ll_logo_footer">
        </div>
        <p class="footer_text"><span>Ответственный подход </span><span>к работе людей и компаний</span></p>
        <p class="footer_number"><a href="tel:+79878500070" class="footer_a">+7(987)-850-00-70</a></p>
        <div class="footer_contacts">
            <a href="https://wa.me/79878954849?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%F0%9F%91%8B%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%20%D0%BB%D0%B5%D1%82%D0%BD%D0%B8%D0%B9%20%D0%BB%D0%B0%D0%B3%D0%B5%D1%80%D1%8C%20%D0%B2%20%D0%9A%D0%B8%D1%82%D0%B0%D0%B5%20%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%20%D0%94%D0%B0%D0%BB%D1%8F%D0%BD%D1%8C" target="_blank"><img src="images/whatsapp.png" alt="" class="whatsapp" style="max-width: 32px; height: auto;"></a>
            <a href="https://t.me/+79878954849" target="_blank"><img src="images/telegram.png" alt="" class="telegram" style="max-width: 32px; height: auto;"></a>
        </div>
        <p class="footer_2024">©2024 ТВУ</p>
    </div>
    <script>
        const form = document.getElementById('myForm');
        const modal = document.getElementById('myModal');
        const closeBtn = document.getElementsByClassName('close')[0];

        form.addEventListener('submit', function(event) {
        modal.style.display = 'block';
        setTimeout("alert('3-секундная задержка прошла');", 3000);
        });

        closeBtn.addEventListener('click', function() {
        modal.style.display = 'none';
        });
    </script>
    <div class="messengers">
        <li><a href="tel:+79878500070"><img src="images/phone.png" alt="" class="telegram telegram2" style="height: auto;"></a></li>
        <li><a  href="https://wa.me/79878954849?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%F0%9F%91%8B%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%20%D0%BB%D0%B5%D1%82%D0%BD%D0%B8%D0%B9%20%D0%BB%D0%B0%D0%B3%D0%B5%D1%80%D1%8C%20%D0%B2%20%D0%9A%D0%B8%D1%82%D0%B0%D0%B5%20%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%20%D0%94%D0%B0%D0%BB%D1%8F%D0%BD%D1%8C" target="_blank"><img src="images/whatsapp.png" alt="" class="whatsapp whatsapp2" style="height: auto;"></a></li>
        <li><a href="https://t.me/+79878954849" target="_blank"><img src="images/telegram.png" alt="" class="telegram telegram2" style="height: auto;"></a></li>
    </div>
</body>
</html>