<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>ll tours</title>
    <link rel="stylesheet" href="css/dalyan.css">

</head>
<body>
    <div class="first">
        <div class="block1">
            <nav>
                <div class="navbar">
                    <div class="mob_container nav-container">
                        <input class="checkbox" type="checkbox" name="" id="" />
                        <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                        </div>  
                    <div class="logo">
                        <img src="images/ll_logo.svg" alt="" class="logo_mobile">
                    </div>
                    <div class="menu-items">
                        <li><a href="#main">Главная</a></li>
                        <li><a href="#about">О туре</a></li>
                        <li class="logo_pc"><img src="images/ll_logo.svg" alt=""></li>
                        <li><a href="#tours">Программа</a></li>
                        <li><a href="#price">Цена</a></li>
                        <li><a href="tel:+79878500070">+7(987)-850-00-70</a></li>
                    </div>
                    </div>
                </div>
            </nav>
            <div class="block1_text" id="main">
                <p class="ll_tours">Образовательная программа в Китай горд Далянь 24.07-07.08</p>
            </div>
        </div>
        <div class="about_us" id="about">
            <p class="we_ll">Добро пожаловать в увлекательное путешествие в Китай с нашим туроператором!</p>
            <p class="about_text">Мы рады предложить уникальную возможность отправиться в увлекательное путешествие в Китай город Далянь. Погрузитесь в уникальную атмосферу древнего и современного Китая с нами! Сделайте ваше путешествие запоминающимся и познавательным!</p>
        </div>
    </div>
    <div class="tour_programm" id="tours">
        <p class="p_programm">Программа тура</p>
        <div class="days">
            <div class="day">
                <div class="p_hr">
                    <img src="images/day1.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">из г.Шэньян, отправление в г.Далянь, "Церемония приветствия - начало исследовательской поездки в Китай"</p>
            </div>
            <div class="slider"></div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day2.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">"Учеба в Китае" - посещение университетского городка, выставки Lushun Impression, выставка дайвинга, Исторический музей</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day3.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Город кино и телевидения - Вэнь Канто, Байюшань, Парк военного порта, Музей гробниц Древней династии Хань</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day4.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Музей портретов мировых знаменитостей Цзиньшитань, Хуася, Фэнтези, Музей коллекции Мао Цзэдуна, Музей тайн жизни</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day5.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">"Маленький ведущий" – посещение Даляньской телестанции (интерактивные мероприятия - китайские боевые искусства, чайное искусство, искусство керамики и т.д.)</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day6.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Shengya Sea World (павильон океанариума Spare Tiger Beach), прогулка по улице Биньхай-роуд, посещение Северного моста, площади Синхай, Далянь - обзор вида на море</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day7.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Лесной зоопарк, Глаз Даляня (Колесо обозрения), Дунган, Венецианский аквапарк, пляж Фуцзячжуан</p>
            </div>
            <div class="slider"></div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day8.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Дунгоу Вуфан, (дополнительный "Открытый урок китайско-российской дружбы" и другие мероприятия по обмену и обучению)</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day9.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Музей раковин, Музей природы</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day10.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Даляньский музыкальный музей, живописный район острова Банчжи</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day11.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Тематический парк – «Королевство открытий» (Science and Technology Dynamic Playground, Наука и технологии Китая, Наука и технологии Даляня)</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day12.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Городской музей, Даляньский музей современного искусства (альтернативная русская пейзажная улица, Даляньский трамвайный пейзаж и т.д.)</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day13.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Художественное взаимодействие во Дворце молодежи (иероглифы кисти, музыкальные инструменты, песни и танцы и т.д.), (запасной "День в китайской школе")</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day14.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">"Церемония прощания", трансфер в аэропорт г.Шэньян, вручение сувениров</p>
            </div>
        </div>
    </div>
    <article id="slider">
        <input checked type='radio' name='slider' id='slide1' class="none"/>
        <input type='radio' name='slider' id='slide2' class="none"/>
        <input type='radio' name='slider' id='slide3' class="none"/>
        <input type='radio' name='slider' id='slide4' class="none"/>
        <input type='radio' name='slider' id='slide5' class="none"/>
        <div id="slides">
          <div id="container">
            <div class="inner">
              <article>
              <img src="images/slide5.png"/>
              </article>
              <article>
              <div class='caption'>
              </div>
              <img src="images/slide6.png"/>
              </article>
              <article>
              <div class='caption'>
              </div>
              <img src="images/slide7.png"/>
              </article>
              <article>
              <div class='caption'>
              </div>
              <img src="images/slide8.png"/>
              </article>
            </div>
          </div>
        </div>
        <div id="commands">
          <label for='slide1'></label>
          <label for='slide2'></label>
          <label for='slide3'></label>
          <label for='slide4'></label>
        </div>
        <div id="active">
          <label for='slide1'></label>
          <label for='slide2'></label>
          <label for='slide3'></label>
          <label for='slide4'></label>
        </div>
        </article>
    <div class="price" id="price">
        <p class="p_price">Стоимость всего тура</p>
        <div class="prices">
            <div class="first_price">
                <p class="price_number">Дети до 18 лет<br>131 000 рублей</p>
            </div>
            <div class="second_price">
                <p class="price_number">Взрослые<br>137 000 рублей</p>
            </div>
        </div>
    </div>
    <div class="record">
        <div class="record_text">
            <p class="free_consult">Оставьте заявку на бесплатную консультацию!</p>
            <p class="we_call">Мы перезвоним Вам в ближайшее время</p>
        </div>
        <div class="record_forms">
            <form th:method="POST" th:action="@{/}" th:object="${person}" class="record_forms">
            <input type="text" class="name" placeholder="ФИО" name="name">
            <input type="tel" class="number" placeholder="Номер телефона" name="number">
            </form>
            <button class="send_record">Отправить заявку</button>
            <p class="personal_info">Нажимая кнопку, Вы даете согласие на <span>обработку персональных данных</span></p>
        </div>
    </div>
    <div class="footer">
        <img src="images/tvu_logo.png" alt="" class="tvu_logo">
        <p class="footer_text"><span>Ответственный подход </span><span>к работе людей и компаний</span></p>
        <p class="footer_number"><a href="tel:+79878500070" class="footer_a">+7(987)-850-00-70</a></p>
        <p class="footer_2024">©2024 ТВУ</p>
    </div>
</body>
</html>