<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>ll tours | Туроператор</title>
    <link rel="stylesheet" href="css/dammam.css">
    <link rel="icon" href="images/ll_logo.svg">
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(97806716, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/97806716" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->
    <script src="//code.jivo.ru/widget/E6GgqhC1II" async></script>
</head>
<body>
    <div class="first">
        <div class="block1">
            <nav>
                <div class="navbar">
                    <div class="mob_container nav-container">
                        <input class="checkbox" type="checkbox" name="" id="" />
                        <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                        </div>  
                    <div class="logo">
                        <img src="images/ll_logo.svg" alt="" class="logo_mobile">
                    </div>
                    <div class="menu-items">
                        <li><a href="/">Главная</a></li>
                        <li><a th:href="@{/contacts}" target="_blank">Контакты</a></li>
                        <li><a th:href="@{/feedback}" target="_blank">Отзывы</a></li>
                        <li><a href="#tours">Программа</a></li>
                        <li class="logo_pc"><img src="images/ll_logo.svg" alt=""></li>
                        <li><a href="#price">Цена</a></li>
                        <li><a href="tel:+79878500070">+7(987)-850-00-70</a></li>
                        <li><a  href="https://wa.me/79878954849?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%F0%9F%91%8B%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D0%BF%D0%BE%D0%B5%D0%B7%D0%B4%D0%BA%D0%B0%20%D0%B2%20%D0%A1%D0%B0%D1%83%D0%B4%D0%BE%D0%B2%D1%81%D0%BA%D1%83%D1%8E%20%D0%90%D1%80%D0%B0%D0%B2%D0%B8%D1%8E" target="_blank"><img src="images/whatsapp.png" alt="" class="whatsapp" style="max-width: 32px; height: auto;"></a></li>
                        <li><a href="https://t.me/+79878954849" target="_blank"><img src="images/telegram.png" alt="" class="telegram" style="max-width: 32px; height: auto;"></a></li>
                    </div>                    
                    </div>
                </div>
            </nav>
            <div class="block1_text" id="main">
                <p class="ll_tours">Авторский тур Знакомство с культурой Арабского мира, город Даммам</p>
            </div>
        </div>
        <div class="about_us" id="about">
            <p class="we_ll">Добро пожаловать в увлекательное путешествие в Саудовскую Аравию с нашим туроператором!</p>
            <p class="about_text">Добро пожаловать в Даммам – великолепный город, расположенный на восточном побережье Саудовской Аравии. Это место, где современность переплетается с богатой историей и традициями. Мы предлагаем Вам уникальную возможность познакомиться с культурой и образом жизни этой удивительной страны.</p>
        </div>
    </div>
    <article id="slider1">
        <input checked type='radio' name='slider1' id='slide11' class="none1"/>
        <input type='radio' name='slider1' id='slide21' class="none1"/>
        <input type='radio' name='slider1' id='slide31' class="none1"/>
        <input type='radio' name='slider1' id='slide41' class="none1"/>
        <input type='radio' name='slider1' id='slide51' class="none1"/>
        <div id="slides1">
          <div id="container1">
            <div class="inner1">
              <article class="artmp1">
              <img src="images/dammam_world1.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
              <article class="artmp1">
              <img src="images/dammam_world2.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
              <article class="artmp1">
              <img src="images/dammam_world3.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
              <article class="artmp1">
                <img src="images/dammam_world4.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
              <article class="artmp1">
                <img src="images/dammam_world5.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
            </div>
          </div>
        </div>
        <div id="commands1">
          <label class="lb1" for='slide11'></label>
          <label class="lb1" for='slide21'></label>
          <label class="lb1" for='slide31'></label>
          <label class="lb1" for='slide41'></label>
          <label class="lb1" for='slide51'></label>
        </div>
        <div id="active1">
          <label class="lb1" for='slide11'></label>
          <label class="lb1" for='slide21'></label>
          <label class="lb1" for='slide31'></label>
          <label class="lb1" for='slide41'></label>
          <label class="lb1" for='slide51'></label>
        </div>
</article>
    <div class="tour_programm" id="tours">
        <p class="p_programm">Программа тура</p>
        <div class="days">
            <div class="day">
                <div class="p_hr">
                    <img src="images/day1.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Встреча в аэропорту. Размещение в уютной гостинице. Отдых</p>
            </div>
            <div class="slider"></div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day2.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Урок арабского языка. Отдых на пляже. Экскурсия по городу. Торговый центр Al Rashid Mall</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day3.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Пляж Half Moon. Экскурсия История Ithra.</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day4.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Хабар - один из трех главных городов Аль-Ахса - один из крупнейших пальмовых оазисов в мире. Посещение горы Аль-Кара. Национальный музей Хафуфа. Посещение дом-музей Наследия. Мечеть Джавата. Спортивное меропиятие</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day5.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">В этот день состоится спортивная арабская игра, за которой последует экскурсия по городу. Мост короля Фахда Scitech (Научно-технический центр принца Султана). Даммам - один из самых живописных туристических городовСаудовской Аравии</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day6.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Урок арабского языка. Историческая деревня Даммам. Остров Аль-Марджан.Даммам-Корниш. Дельфинарий. Популярный рынок</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day7.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Урок арабского языка. Кемпинг в пустыне. Настоящий лагерь бедуинов</p>
            </div>
            <div class="slider"></div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day8.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Тур по городу Даммам</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day9.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Урок арабского языка. Замок Тарут. Райский остров. Цивилизации прошлого и будущего.</p>
            </div>
            <div class="day">
                <div class="p_hr">
                    <img src="images/day10.png" alt="" class="day_num">
                    <p class="p_day">День</p>
                    <hr class="day_hr">
                </div>
                <p class="day_text">Эль-Хубар - один из трех главных городов страны. Наш последний день мы посвятим пляжам и шопингу.</p>
            </div>
        </div>
    </div>
    <p class="food">Питание</p>
    <article id="slider3">
        <input checked type='radio' name='slider3' id='slide13' class="none3"/>
        <input type='radio' name='slider3' id='slide23' class="none3"/>
        <input type='radio' name='slider3' id='slide33' class="none3"/>
        <input type='radio' name='slider3' id='slide43' class="none3"/>
        <input type='radio' name='slider3' id='slide53' class="none3"/>
        <div id="slides3">
          <div id="container3">
            <div class="inner3">
              <article class="artmp3">
              <img src="images/dammam_food1.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
              <article class="artmp3">
              <img src="images/dammam_food2.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
              <article class="artmp3">
              <img src="images/dammam_food3.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
              <article class="artmp3">
                <img src="images/dammam_food4.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
              <article class="artmp3">
                <img src="images/dammam_food5.jpg" style="object-fit: cover; width: 100%; height: 100%;"/>
              </article>
            </div>
          </div>
        </div>
        <div id="commands3">
          <label class="lb3" for='slide13'></label>
          <label class="lb3" for='slide23'></label>
          <label class="lb3" for='slide33'></label>
          <label class="lb3" for='slide43'></label>
          <label class="lb3" for='slide53'></label>
        </div>
        <div id="active3">
          <label class="lb3" for='slide13'></label>
          <label class="lb3" for='slide23'></label>
          <label class="lb3" for='slide33'></label>
          <label class="lb3" for='slide43'></label>
          <label class="lb3" for='slide53'></label>
        </div>
</article>
    <p class="food">Проживание</p>
    <div class="videos">
        <video controls width="350">
            <source src="images/dammam_home.mp4" type="video/mp4">
            Ваш браузер не поддерживает встроенные видео :(
          </video>
    </div>
    <p class="gift">В подарок Вы получите традиционную национальную одежду высокого качества и научитесь её правильно носить.</p>
    <div class="clother">
        <img src="images/woman.png" alt="" class="woman">
        <img src="images/men.png" alt="" class="men">
    </div>
    <p class="p_price">Стоимость тура уточняйте по телефону или оставьте заявку ниже</p>
    <div class="pointers2">
        <p class="p_pointers2">В стоимость тура входят: <span>проживание Villa "Tamara" 5 star</span> (роскошные номера и сервис), <span>перелёт</span> (из Москвы и обратно), <span>трансфер</span>, <span>страховка</span>, <span>виза</span>, <span>питание</span> (лучшие блюда в ресторанах Арабской кухни), <span>сопровождение преподавателя</span> Language Link из Москвы на всё время путешествия,
            <span>экскурсионная программа</span>, <span>мероприятия</span>, <span>мастер-классы</span>.
        </p>
    </div>
    <div class="record">
        <div class="record_text">
            <p class="free_consult">Оставьте заявку на бесплатную консультацию!</p>
            <p class="we_call">Мы перезвоним Вам в ближайшее время</p>
        </div>
        <div class="record_forms">
            <form th:method="POST" th:action="@{/}" th:object="${person}" id="myForm">
            <input type="text" class="name" placeholder="ФИО" name="name" required>
            <input type="tel" class="number" placeholder="Номер телефона" name="number" required>
            <input type="hidden" class="tour" value="dammam" name="tour">
            <button class="send_record">Отправить заявку</button>
            </form>
            <p class="personal_info">Нажимая кнопку, Вы даете согласие на <span>обработку персональных данных</span></p>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Форма успешно отправлена!</p>
          <p>Свяжемся с вами в ближайшее время</p>
        </div>
      </div>
    <div class="footer">
        <div class="footer_imgs">
            <img src="images/tvu_logo.png" alt="" class="tvu_logo">
            <img src="images/ll_logo.svg" alt="" class="ll_logo_footer">
        </div>
        <p class="footer_text"><span>Ответственный подход </span><span>к работе людей и компаний</span></p>
        <p class="footer_number"><a href="tel:+79878500070" class="footer_a">+7(987)-850-00-70</a></p>
        <div class="footer_contacts">
            <a href="https://wa.me/79878954849?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%F0%9F%91%8B%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D0%BF%D0%BE%D0%B5%D0%B7%D0%B4%D0%BA%D0%B0%20%D0%B2%20%D0%A1%D0%B0%D1%83%D0%B4%D0%BE%D0%B2%D1%81%D0%BA%D1%83%D1%8E%20%D0%90%D1%80%D0%B0%D0%B2%D0%B8%D1%8E" target="_blank"><img src="images/whatsapp.png" alt="" class="whatsapp" style="max-width: 32px; height: auto;"></a>
            <a href="https://t.me/+79878954849" target="_blank"><img src="images/telegram.png" alt="" class="telegram" style="max-width: 32px; height: auto;"></a>
        </div>
        <p class="footer_2024">©2024 ТВУ</p>
    </div>
    <script>
        const form = document.getElementById('myForm');
        const modal = document.getElementById('myModal');
        const closeBtn = document.getElementsByClassName('close')[0];

        form.addEventListener('submit', function(event) {
        modal.style.display = 'block';
        setTimeout("alert('3-секундная задержка прошла');", 3000);
        });

        closeBtn.addEventListener('click', function() {
        modal.style.display = 'none';
        });
    </script>
    <div class="messengers">
        <li><a href="tel:+79878500070"><img src="images/phone.png" alt="" class="telegram telegram2" style="height: auto;"></a></li>
        <li><a  href="https://wa.me/79878954849?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%F0%9F%91%8B%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D0%BF%D0%BE%D0%B5%D0%B7%D0%B4%D0%BA%D0%B0%20%D0%B2%20%D0%A1%D0%B0%D1%83%D0%B4%D0%BE%D0%B2%D1%81%D0%BA%D1%83%D1%8E%20%D0%90%D1%80%D0%B0%D0%B2%D0%B8%D1%8E" target="_blank"><img src="images/whatsapp.png" alt="" class="whatsapp whatsapp2" style="height: auto;"></a></li>
        <li><a href="https://t.me/+79878954849" target="_blank"><img src="images/telegram.png" alt="" class="telegram telegram2" style="height: auto;"></a></li>
    </div>
</body>
</html>