<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>ll tours | Туроператор</title>
    <link rel="stylesheet" href="css/feedback.css">
    <link rel="icon" href="images/ll_logo.svg">
    <script src="//code.jivo.ru/widget/E6GgqhC1II" async></script>
</head>
<body>
    <p class="feedback">Наши отзывы</p>
    <div class="feedback_img">
        <img src="images/feedback/1.jpg" alt="">
        <img src="images/feedback/2.jpg" alt="">
        <img src="images/feedback/3.jpg" alt="">
        <img src="images/feedback/4.jpg" alt="">
        <img src="images/feedback/7.jpg" alt="">
    </div>
    <div class="feedback_img">
        <img src="images/feedback/5.jpg" alt="">
        <img src="images/feedback/6.jpg" alt="">
        <img src="images/feedback/8.jpg" alt="">
    </div>
    <div class="empty"></div>
</body>
</html>