<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>ll tours | Туроператор</title>
    <link rel="stylesheet" href="css/health_tour.css">
    <link rel="icon" href="images/ll_logo.svg">
    <script src="//code.jivo.ru/widget/E6GgqhC1II" async></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(98556848, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/98556848" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
 <meta name="yandex-verification" content="7b17768d8151848c" />
</head>
<body>
    <div class="first">
        <div class="block1">
            <nav>
                <div class="navbar">
                    <div class="mob_container nav-container">
                        <input class="checkbox" type="checkbox" name="" id="" />
                        <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                        </div>  
                    <div class="logo">
                        <img src="images/ll_logo.svg" alt="" class="logo_mobile">
                    </div>
                    <div class="menu-items">
                        <li><a href="/">Главная</a></li>
                        <li><a th:href="@{/contacts}" target="_blank">Контакты</a></li>
                        <li><a th:href="@{/feedback}" target="_blank">Отзывы</a></li>
                        <li><a href="#programm">Программа</a></li>
                        <li class="logo_pc"><img src="images/ll_logo.svg" alt=""></li>
                        <li><a href="#price">Цена</a></li>
                        <li><a href="tel:+79878500070">+7(987)-850-00-70</a></li>
                        <li><a  href="https://wa.me/79878954849?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D0%BE%D0%B7%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F%20%D0%BF%D0%BE%D0%B5%D0%B7%D0%B4%D0%BA%D0%B0%20%D0%B2%20%D0%9A%D0%B8%D1%82%D0%B0%D0%B9" target="_blank"><img src="images/whatsapp.png" alt="" class="whatsapp" style="max-width: 32px; height: auto;"></a></li>
                        <li><a href="https://t.me/+79878954849" target="_blank"><img src="images/telegram.png" alt="" class="telegram" style="max-width: 32px; height: auto;"></a></li>
                    </div>                    
                    </div>
                </div>
            </nav>
            <div class="block1_text" id="main">
                <p class="ll_tours">Лечебные туры в Китай</p>
            </div>
        </div>
        <div class="about_us" id="about">
            <p class="we_ll">Лечебные туры в Китай: ваше здоровье — наша забота!</p>
            <p class="about_text">Откройте для себя уникальные возможности оздоровления в Китае! Подарите себе здоровье и гармонию в сердце Китая! Забронируйте тур уже сегодня!</p>
        </div>
    </div>
    <p class="home">Проживание</p>
    <p class="hotel">Отель S&N (Юаньчжоу)</p>
    <div class="about_hotel">
        <p>Отель юаньчжоу (один из лучших 60 гостиничных групп в китае):</p>
        <ul>
        <li>– соответствует международным пятизвездачным стандартам</li>
        <li>– территория 40000 кв. м.</li>
        <li>– до больницы ткм Ванфандянь 14 минут езды</li>
    </ul>
    </div>
    <article id="slider2">
        <input checked type='radio' name='slider2' id='slide01' class="none2"/>
        <input type='radio' name='slider2' id='slide02' class="none2"/>
        <input type='radio' name='slider2' id='slide03' class="none2"/>
        <input type='radio' name='slider2' id='slide04' class="none2"/>
        <input type='radio' name='slider2' id='slide05' class="none2"/>
        <input type='radio' name='slider2' id='slide06' class="none2"/>
        <input type='radio' name='slider2' id='slide07' class="none2"/>
        <div id="slides2">
          <div id="container2">
            <div class="inner2">
                <article class="artmp2">
                <img src="images/health/slide1.png"/>
                </article>
                <article class="artmp2">               
                <img src="images/health/slide2.png"/>
                </article>
                <article class="artmp2">
                <img src="images/health/slide3.png"/>
                </article>
                <article class="artmp2">
                <img src="images/health/slide4.png"/>
                </article>
                <article class="artmp2">
                <img src="images/health/slide5.png"/>
                </article>
                <article class="artmp2">
                <img src="images/health/slide6.png"/>
                </article>
                <article class="artmp2">
                <img src="images/health/slide7.png"/>
                </article>
            </div>
          </div>
        </div>
        <div id="commands2">
          <label class="lb2" for='slide01'></label>
          <label class="lb2" for='slide02'></label>
          <label class="lb2" for='slide03'></label>
          <label class="lb2" for='slide04'></label>
          <label class="lb2" for='slide05'></label>
          <label class="lb2" for='slide06'></label>
          <label class="lb2" for='slide07'></label>
        </div>
        <div id="active2">
            <label class="lb2" for='slide01'></label>
            <label class="lb2" for='slide02'></label>
            <label class="lb2" for='slide03'></label>
            <label class="lb2" for='slide04'></label>
            <label class="lb2" for='slide05'></label>
            <label class="lb2" for='slide06'></label>
          <label class="lb2" for='slide07'></label>
        </div>
        </article>
    <div class="hospital">
        <p class="hospital_title">Больница традиционной китайской медицины Вафандянь 626</p>
        <p class="about_hospital">Больница ткм Ванфандянь – одна из известных больниц, сочетающая в себе традиционную китайскую медицину и современные медицинские технологии. Больница обеспечивает возможность пациентам получать лечение в комфортных условиях<br>Амбулаторные отделения больницы предлагают более 30 специализированных отделений, включая отделения традиционной китайской медицины ,общую хирургию, внутренние болезни, гинекологию , педиатрию и др. В стационарном отделение есть 18 палат.</p>
        <img src="images/health/hospital.png" alt="" class="hospital_img">
    </div>
    <div class="departments">
        <p class="departments_title">Специализированные отделы :</p>
        <div class="department gray2">
            <p class="p_department">1. Отделение традиционной китайской медицины (заболевание почек, печени, желчного пузыря, селезенки желудка, сердечно–сосудистые и цереброваскулярные заболевания, диабет и т.д.)</p>
            <p class="p_methods">Методы лечения:</p>
            <ul class="ul_methods">
                <li>– Акупунктура (путем стимуляции определенных точек)</li>
                <li>– Кантоперация (действует на кожу путем адсорбции, способствует кровообращению и снимает мышечную боль)</li>
                <li>– Фитотерапия</li>
            </ul>
        </div>
        <div class="department gray2">
            <p class="p_department">2. Отделение лекарственных ванн<br>лечебные ванны могут иметь такие оздоровительные эффекты: улучшение кровообращения, детоксикация, снижение отеков, обезболивание и т. д. </p>
            <p class="p_methods">Виды лечебных ванн:</p>
            <ul class="ul_methods">
                <li>– Общая ванна (для всего тела)</li>
                <li>– Сидячая ванна (для гинекологии - укрепляет иммунитет, регулирует цикл, устраняет дискомфорт)</li>
                <li>– Ванна для ног (снимает напряжение в мышцах и суставах)</li>
            </ul>
        </div>
        <div class="department gray2">
            <p class="p_department">3. Отделение медицинской реабилитации<br>включает стационарное отделение, отделение реабилитации речи, отделение традиционной китайской медицины и физ отделение. Специализация отделения – восстановление после инсульта, после травм и послеоперационное ортопедическое лечение.</p>
        </div>
        <div class="department gray2">
            <p class="p_department">4. Центр медицинского осмотра<br>оснащено самыми современым и передовым оборудованием: мрт, автоматизированная система анализа крови,экг, аппаратура для офтальмологического обследования, для проведения слухового тестирования.</p>
        </div>
    </div>

    <div class="tour_money" id="programm">
        <p class="title_price">Лечебный тур за 207500р</p>
        <p class="indications gray2">Показания: Ревматизм (острые боли, затрудненное движение суставов, ощущение холодности в теле)</p>
        <p class="treatment gray2">Лечение (входит в стоимость):</p>
        <ul class="ul_treatment gray2">
            <li>– Акупунктура обычная иглотерапия (8 раз)</li>
            <li>– Китайская терапия кровопускания (2 раза)</li>
            <li>– Теплая акупунктура (5 раз)</li>
            <li>– Массаж восстановительный (1 раз)</li>
            <li>– Руководство по диетологии в соответствии с теорией традиционной китайской медицины (диагностика и конституция)</li>
            <li>– Применение внутрь китайских трав (10 доз)</li>
            <li>– Прижигание (1 раз)</li>
        </ul>
    </div>
    <div class="tour_money">
        <p class="title_price">Лечебный тур за 196880р</p>
        <p class="indications gray2">Показания: заболевание почек（Частота мочи(олиго или полиурия), боли в пояснице и коленях, нарушения сна</p>
        <p class="treatment gray2">Лечение (входит в стоимость):</p>
        <ul class="ul_treatment gray2">
            <li>– Прижигание (4 раза)</li>
            <li>– Акупунктура обычная иглотерапия (8 раз)</li>
            <li>– Каппинг-терапия (лечение банками) 4 раза</li>
            <li>– Массаж восстановительный (1 раз)</li>
            <li>– Теплая акупунктура (акупунктура+ прижигание) 5 раз</li>
            <li>– Руководство по диетологии в соответствии с теорией традиционной китайской медицины (диагностика и конституция)</li>
            <li>– Применение внутрь китайских трав (10 доз)</li>
        </ul>
    </div>
    <div class="tour_money">
        <p class="title_price">Лечебный тур за 215200р</p>
        <p class="indications gray2">Показания: гинекологические заболевания: (Нерегулярность менструации, синдром менопаузы, инфекции женских половых органов, урогенная инфекция)</p>
        <p class="treatment gray2">Лечение (входит в стоимость):</p>
        <ul class="ul_treatment gray2">
            <li>– Прижигание (4 раза)</li>
            <li>– Акупунктура обычная иглотерапия (8 раз)</li>
            <li>– Каппинг-терапия (лечение банками) 4 раза</li>
            <li>– Китайская терапия кровопускания (2 раза)</li>
            <li>– Теплая акупунктура (акупунктура+ прижигание) 5 раз</li>
            <li>– Руководство по диетологии в соответствии с теорией традиционной китайской медицины (диагностика и конституция)</li>
            <li>– Применение внутрь китайских трав (10 доз)</li>
        </ul>
    </div>
    <div class="div_price" id="price">
        <p class="p_price">Стоимость</p>
        <p class="price_about gray2">В стоимость тура входит:</p>
        <ul class="gray2">
            <li>1. Транспортные расходы в рамках программы проекта.</li>
            <li>2. Проживание 13 дней（место в двухместном номере в пятизвездочном отеле.</li>
            <li>3.Питание - полный пансион.</li>
            <li>4. Посещение (минимум 3 раза) горячих источников, шоппинг-тур на один день.</li>
            <li>5. Бесплатное медицинское обследование и консультация, включающее в себя традиционную китайскую диагностику (пульсацию), анализ крови, измерение артериального давления, глюкозы, липидов, белка и других параметров.</li>
            <li>Для дополнительных лечебных услуг, которые могут потребоваться в соответствии с индивидуальными потребностями и медицинским отчетом об обследовании, дополнительная оплата будет рассчитываться отдельно.</li>
        </ul>
        <p class="price_dop gray2">Дополнительно оплачивается:<br>Авиаперелет</p>
    </div>
    <!--<p class="price">Стоимость тура уточняйте по телефону или оставьте заявку ниже</p>-->
    <div class="record">
        <div class="record_text">
            <p class="free_consult">Оставьте заявку на бесплатную консультацию!</p>
            <p class="we_call">Мы перезвоним Вам в ближайшее время</p>
        </div>
        <div class="record_forms">
            <form th:method="POST" th:action="@{/}" th:object="${person}" id="myForm">
            <input type="text" class="name" placeholder="ФИО" name="name" required>
            <input type="tel" class="number" placeholder="Номер телефона" name="number" required>
            <input type="hidden" class="tour" value="health" name="tour">
            <button class="send_record">Отправить заявку</button>
            </form>
            <p class="personal_info">Нажимая кнопку, Вы даете согласие на <span>обработку персональных данных</span></p>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Форма успешно отправлена!</p>
          <p>Свяжемся с вами в ближайшее время</p>
        </div>
      </div>
    <div class="footer">
        <div class="footer_imgs">
            <img src="images/tvu_logo.png" alt="" class="tvu_logo">
            <img src="images/ll_logo.svg" alt="" class="ll_logo_footer">
        </div>
        <p class="footer_text"><span>Ответственный подход </span><span>к работе людей и компаний</span></p>
        <p class="footer_number"><a href="tel:+79878500070" class="footer_a">+7(987)-850-00-70</a></p>
        <div class="footer_contacts">
            <a href="https://wa.me/79878954849?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D0%BE%D0%B7%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F%20%D0%BF%D0%BE%D0%B5%D0%B7%D0%B4%D0%BA%D0%B0%20%D0%B2%20%D0%9A%D0%B8%D1%82%D0%B0%D0%B9" target="_blank"><img src="images/whatsapp.png" alt="" class="whatsapp" style="max-width: 32px; height: auto;"></a>
            <a href="https://t.me/+79878954849" target="_blank"><img src="images/telegram.png" alt="" class="telegram" style="max-width: 32px; height: auto;"></a>
        </div>
        <p class="footer_2024">©2024 ТВУ</p>
    </div>
    <script>
        const form = document.getElementById('myForm');
        const modal = document.getElementById('myModal');
        const closeBtn = document.getElementsByClassName('close')[0];

        form.addEventListener('submit', function(event) {
        modal.style.display = 'block';
        setTimeout("alert('3-секундная задержка прошла');", 3000);
        });

        closeBtn.addEventListener('click', function() {
        modal.style.display = 'none';
        });
    </script>
    <div class="messengers">
        <li><a href="tel:+79878500070"><img src="images/phone.png" alt="" class="telegram telegram2" style="height: auto;"></a></li>
        <li><a  href="https://wa.me/79878954849?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B7%D0%B0%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2%D0%B0%D0%BB%D0%B0%20%D0%BF%D0%BE%D0%B5%D0%B7%D0%B4%D0%BA%D0%B0%20%D0%B2%20%D0%9F%D0%B5%D0%BA%D0%B8%D0%BD" target="_blank"><img src="images/whatsapp.png" alt="" class="whatsapp whatsapp2" style="height: auto;"></a></li>
        <li><a href="https://t.me/+79878954849" target="_blank"><img src="images/telegram.png" alt="" class="telegram telegram2" style="height: auto;"></a></li>
    </div>
</body>
</html>